body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.titulo {
    color: white;
    width: 100%;
    background-color: black;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.btn-listar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 36px;
    align-self: flex-start;
    flex: 0 0 auto;
    padding: 9px 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    
    /* pra centralizar ao centro do cabeçalho da tabela */
    margin-top: calc((48px - 36px) / 2);
}

.btn-listar:hover {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
}

.tabela-clientes {
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.tabela-clientes table {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
    background-color: white;
    width: 50%;
}

.tabela-clientes th {
    border: 1px solid black;
    padding: 12px 8px 12px 10px;
    text-align: start;
    height: 48px;
    box-sizing: border-box;
}

.tabela-clientes td {
    border: 1px solid black;
    padding: 2px 0px 2px 4px;
    font-size: 16px;
    text-align: start;
    height: 48px;
    box-sizing: border-box;
}

.tabela-clientes tr:nth-child(odd) {
    background-color: wheat;
}

.tabela-clientes tr:hover {
    background: rgb(200, 200, 200);
}

#fundo {
    background-color: rgba(20, 100, 200, 0.2);
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
}

#card-detalhes-cliente {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 24px;
    margin: 40px auto 0;
}

#card-detalhes-cliente table {
    margin-bottom: 12px;
    width: 100%;
    max-width: 700px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

#card-detalhes-cliente th,
#card-detalhes-cliente td {
    border: 0;
    padding: 8px;
    text-align: left;
}

#card-detalhes-cliente th:first-child,
#card-detalhes-cliente td:first-child,
#card-detalhes-cliente th:nth-child(2),
#card-detalhes-cliente td:nth-child(2) {
    width: 50%;
}