body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.titulo {
    position: fixed;
    color: white;
    width: 100%;
    background-color: black;
    display: inline-block;
    position: sticky;
    top: 0px;
}

.tabela-clientes {
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.tabela-clientes table {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
    background-color: white;
    width: 50%;
}

.tabela-clientes th {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

/* define largura das colunas id e lixeira */
.tabela-clientes th:nth-child(1),
.tabela-clientes td:nth-child(1),
.tabela-clientes th:nth-child(5),
.tabela-clientes td:nth-child(5) {
    width: 5%;
    padding: 0px;
    text-align: center;
}

/* define largura da coluna assinatura_id e estado_assinatura */
.tabela-clientes th:nth-child(2),
.tabela-clientes td:nth-child(2) {
    width: 50%;
}

/* define largura das colunas assinatura_id e estado_assinatura */
.tabela-clientes th:nth-child(3),
.tabela-clientes td:nth-child(3),
.tabela-clientes th:nth-child(4),
.tabela-clientes td:nth-child(4) {
    width: 20%;
}

.tabela-clientes td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 4px 0px 4px 6px;
    font-size: 16px;
    transition: 0.2s;
    text-align: start;
}

.tabela-clientes tr:nth-child(odd) {
    background-color: blanchedalmond;
}

.tabela-clientes tr:hover {
    background: rgb(200, 200, 200);
}

.botoes {
    padding: 10px;
    background-color: blanchedalmond;
    color: black;
}

.botoes:hover {
    background-color: gray;
}

.botoes {
    width: 100%;
}

.card-cliente {
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 24px;
    margin: 40px auto 0;
}

.card-cliente table {
    margin-bottom: 12px;
    width: 100%;
    max-width: 700px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

.card-cliente th,
.card-cliente td,
.card-cliente input,
.card-cliente select {
    border: 0;
    padding: 8px;
    text-align: left;
}

.card-cliente td,
.card-cliente input,
.card-cliente select {
    font-size: 14px;
}

.card-cliente input,
.card-cliente select {
    background-color: lightgray;
}

#div-fundo {
    background-color: rgba(20, 100, 200, 0.2);
    flex: 1;
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    align-items: stretch;
}

.selecao {
    border-style:groove;
}

#div-principal {
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
}

.div-botao-card-cliente {
    display: flex;
    width: fit-content;
    align-self: flex-end;
    padding: 1%;
    gap: 8px;
}

.div-botao-card-cliente .botoes {
    width: auto;
}